<html>
<head>
    <title>Viewing chain: {{ chain.name }}</title>
</head>
<body>
    {% for post in chain.post_set.all %}
    <table border=1 cellpadding=0 cellspacing=0 width=100%>
        <tr><td>
            <table width=100%><tr><td>
                <a href="/{{ chain.id }}/{{ post.post_num }}/">{{ post.post_num }}</a>
                - {{ post.poster }}
            </td><td align=right>
                {{ post.time }}
            </table>
        </td></tr>
        <tr><td colspan=2>
            {{ post.body }}
        </tr></td>
    </table>
    {% endfor %}
</body>
</html>
